<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css" />
        <script>
            const ROOM_ID = "<%= roomId %>"
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        
        <title>Document</title>
        <style>
            #video-grid {
                display: grid;
                border-style: solid;
                border-color: coral;
                grid-template-rows: auto;
                grid-auto-columns: 300px;
            }

            video {
                width: 100%;
                height: 100%;
            }

            /* #profile-grid {
                display: grid;
                border-style: solid;
                border-color: aqua;
                grid-template-rows: auto;
            } */
            #profile-grid {
                display: grid;
                border-style: solid;
                border-color: aqua;
                grid-template-columns: repeat(2, 50%);
                grid-auto-rows: auto;
                align-items: center;
            }

        </style>
    </head>
    <body>
        <main>
            <section class="glass">
                <div class="dashboard">
                    <div class="title">
                        <img src="../Images/full_logo.png" alt="logo"></img>
                        <hr>
                        <div id="video-grid"></div>
                        <div id="profile-grid">
                            <img id="profile_img" src="../Images/profile_img.png" alt="profile"></img>
                            <p id="userName"></p>
                            <script src="../Scripts/roomScript.js"></script>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>